nav{
    margin-left: 200px;
    margin-top: -30px;
    
}
img{
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 60px;
}
.name1{
   padding-left: 100px;
}
.name2{
    margin-top: -35px;
   padding-left: 200px;
   
}
.name3{
    margin-top: -35px;
   padding-left: 200px;
  
}
.name4{
    margin-top: -35px;
   padding-left: 200px;
   
}
.name5{
    margin-top: -18px;
   padding-left: 200px;
   
}
.name6{
    margin-top: -16px;
   padding-left: 200px;
   
}

.image{
    align-content: center;
}
a{
    padding-left: 20px;
    
}
i{
    padding-right: 10px;
    padding-left: 10px;
}


